html {
    background-color:rgba(0,0,0,0.85);
    font-family: sans-serif;

}
/*nav*/
nav{
    position: static;
    display:flex;
    justify-content: flex-start;


}

nav ul li{
    display:inline-block;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 35px;
    color: black;
    background-color: red;

}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

li:hover{
    background-color:darkred;

}
/*end nav*/

body{
    width: 1140px;
    margin:auto;
    margin-top:50px;
    background-color:white;
}


/*film overzicht*/
.films{
    width: 100%;
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.films a{
    margin:14px;
}

.film{
    background-color:red;
    border:4px solid black;
    margin:0px;
    height:320px;
    width:200px;
}

.film img{
    width:100%;
}

.film .title {
    max-width: 200px;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*eind film overzicht*/




















