html {
    background-color:rgba(0,0,0,0.85);
    font-family: sans-serif;

}

nav{
    position: static;
    display:flex;
    justify-content: space-around;


}

nav ul li{
    display:inline-block;
    background-color:red;
    border: 1px solid black;
}




body{
    width: 1140px;
    margin:auto;
    margin-top:40px;
    background-color:white;
}

.films{
    width: 100%;
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.temp{
    background-color:lightblue;
    border:2px solid black;

    height:300px;
    width:200px;
}



























