html {
    background-color:rgba(0,0,0,0.85);

}

nav{
    position: static;
    display:flex;
    justify-content: flex-start;


}

nav ul li{
    display:inline-block;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 35px;
    color: black;
    background-color: red;

}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

li:hover{
    background-color:darkred;

}

body{
    width: 960px;
    margin:auto;
    margin-top:40px;
    background-color:white;
}